body{
	background: #136a88; /* Old browsers */
	background: -moz-linear-gradient(left, #136a88 1%, #257670 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #136a88 1%,#257670 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #136a88 1%,#257670 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#136a88', endColorstr='#257670',GradientType=1 ); 
	position: relative;
}

h1{
	color: white;
	text-align: center;
}